.winner {
  &__line {
  }

  &__cell {
    border-bottom: 1px solid rgb(167, 167, 202);
    padding: 10px 20px;
  }

  &__carIcon {
    width: 50px;
    height: 40px;
    right: 70px;
    bottom: 0;
  }
}

@media (max-width: 570px) {
  .winner {
    &__cell {
      padding: 10px 3px;
    }
  }
}

@media (max-width: 390px) {
  .winner {
    &__cell {
      padding: 5px 3px;
    }
  }
}
