$gap: 10px;
$transition: all 0.5s ease-out;
$borderRadius: 5px;

$colorText: rgb(30, 30, 30);
$colorTextHover: rgb(0, 0, 0);

$colorMain: rgba(39, 119, 200, 0.541);
$colorDisabled: rgba(39, 119, 200, 0.201);
$colorHover: rgba(39, 119, 200, 0.9);
