.car {
  &__inner {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__track {
    border-bottom: 1px dotted black;
  }

  &__road {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    bottom: 0;
  }

  &__carIcon {
    position: absolute;
    left: 0;
    height: 70px;
  }

  &__finishIcon {
    position: absolute;
    width: 50px;
    height: 40px;
    right: 70px;
    bottom: 0;
  }
}
